@import "./widgets/line.css";
@import "./widgets/button.css";

html {
    background: #000000;
}

body {
    perspective: 500px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.demo-1 {
    --color-text: #ededed;
    --color-bg: #000;
    --color-link: #fff;
    --color-link-hover: #5d5050;
    --color-info: #5d5050;
    --color-menu: #fff;
    --color-menu-hover: #fff;
    --color-title: #fff;
    --color-subtitle: #ededed;
    --color-deco: #161616;
}

.js body {
    opacity: 0;
    transition: opacity 0.3s;
}

.js body.render {
    opacity: 1;
}

.js .loading::before {
    content: '';
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.js .loading::after {
    content: '';
    position: fixed;
    z-index: 100000;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0.4;
    background: var(--color-link);
    animation: loaderAnim 0.7s linear infinite alternate forwards;
}

.scene {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    transform: scale(1.5, 1.5);

/ / pointer-events: none;
    z-index: 1;
}

.scene .blob-1 path {
    fill: url(#gradient-1);
}

.scene .blob-2 path {
    fill: url(#gradient-2);
}

.scene .blob-3 path {
    fill: url(#gradient-3);
}

.scene .blob-4 path {
    fill: url(#gradient-4);
}

.scene .blob-5 path {
    fill: url(#gradient-5);
}

.scene .blob-6 path {
    fill: url(#gradient-6);
}

.scene path:first-of-type {
    fill-opacity: 0.1;
}

.scene path:nth-of-type(2) {
    fill-opacity: 0.2;
}

.scene path:nth-of-type(3) {
    fill-opacity: 0.3;
}

.scene path:nth-of-type(4) {
    fill-opacity: 0.4;
}

.scene path:nth-of-type(5) {
    fill-opacity: 0.5;
}

.scene path:nth-of-type(6) {
    fill-opacity: 0.6;
}

#logo {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(0, -50%);
    z-index: 128;

    animation: fill 3s ease-in-out forwards;
}

#bar {
    width: 0;

    fill: url("#gradient-bar");

    stroke-width: 220px;
    stroke: transparent;

    transform: translate(0, 0) scale(1, 1);
    transform-origin: left;

    transition: transform 1s;

    animation: bar 2s ease-out forwards;
    animation-delay: 0.25s;
}

#bar:hover {
    transform-origin: left;
    transform: translate(20%, 0) scale(0.5, 1);
}

#logo path:nth-child(1) {
    stroke-dasharray: 433px;
    stroke-dashoffset: 433px;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 471px;
    stroke-dashoffset: 471px;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(3) {
    stroke-dasharray: 424px;
    stroke-dashoffset: 424px;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(4) {
    stroke-dasharray: 433px;
    stroke-dashoffset: 433px;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(5) {
    stroke-dasharray: 277px;
    stroke-dashoffset: 277px;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(6) {
    stroke-dasharray: 428px;
    stroke-dashoffset: 428px;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(7) {
    stroke-dasharray: 279px;
    stroke-dashoffset: 279px;
    animation: line-anim 2s ease forwards;
}

@keyframes bar {
    from {
        width: 0;
    }

    to {
        width: 383px;
    }
}

#downloads {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(105%, 160%);
    z-index: 126;
}

#socials {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(212%, 160%);
    z-index: 126;
}

.ui {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(0, -50%);
    height: 400px;
    width: 700px;
    z-index: 129;
}

.hidden {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 256;
}

.close-menu {
    background-color: transparent;
}

.close-menu:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
